<div class="jumbotron">
  <h1>Welcome to your PromiseList</h1>
  <p>Add promises in your life and try to fulfill them!</p>
  <%= link_to "Sign Up", new_user_registration_path, class: "btn btn-primary" %>
  <%= link_to "Log In", new_user_session_path, class: "btn btn-primary" %>
</div>
